.post {
  margin-top: 125px;
  margin-bottom: 150px;
  .container {
    .btn__day {
      margin-bottom: 9px;
      display: flex;
      .btn {
        display: flex;
        i {
          display: flex;
          img {
            margin: auto;
          }
        }
        p {
          font-family: "beRegular400";
          font-size: 18px;
          line-height: 46px;
          color: #4f4f4f;
          margin-left: 10px;
        }
      }
      .day {
        margin-left: 53px;
        p {
          font-family: "beRegular400";
          font-size: 18px;
          line-height: 46px;
          color: #828282;
        }
      }
    }
    .post__content {
      padding-left: 150px;
      padding-right: 150px;
      .post__content-title {
        font-family: "beBold600";
        font-size: 38px;
        line-height: 56px;
        color: #1d1d1d;
        margin-bottom: 24px;
      }
      .post__content-param {
        font-family: "beRegular400";
        font-size: 18px;
        line-height: 26px;
        color: #282828;
      }
      .post__content-item {
        margin-top: 48px;
        img {
        }
        .caption__img {
          font-family: "beItalic400";
          font-size: 16px;
          line-height: 26px;
          color: #000000;
          margin-top: 12px;
          text-align: center;
        }
        .text__detail {
          margin-top: 32px;
          h3 {
            font-family: "beBold600";
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 10px;
          }
          p {
            font-family: "beRegular500";
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 13px;
          }
        }
      }
    }
  }
}
